{
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true,
      },
    ],
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-modules-commonjs",
    "babel-plugin-dynamic-import-node",
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"],
}
